
{% block appointments %}

<div class="col-md-4 pt-2 pb-2 pl-0 pr-0 float-left todays-appointments">
    <div class="row">
        <div class="col-md-6">
            <h5 class="pl-2">{% now "m/d/y D" %}</h5>
        </div>
        <div class="col-md-6">
            <button id="show-breaks" type="submit" class="btn btn-success mb-2 mr-2  float-right" name='breaks'> Show Breaks
            </button>
        </div>
    </div>
    
    {% for app in todays_appointments %}

        <div class="text-left">

            {% if appointment and appointment.id == app.id %}
            <div id="{{ app.id }}" class="app-card row no-gutters selected appointment">
            {% else %}
            <div id="{{ app.id }}" class="app-card row no-gutters unselected appointment">
            {% endif %}

                <div class="col-md-2">
                    {% if app.patient.gender == "Male" %}
                        <img src="../../static/images/patient_m.png" class="card-img m-2" style="max-width: 100px;">
                    {% else %}
                        <img src="../../static/images/patient_f.png" class="card-img m-2" style="max-width: 100px;">
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <div class="card-body text-left">
                        <h5 class="card-title patient_name mb-0">{{ app.patient.last_name }}, {{app.patient.first_name }}</h5>
                        <p class="card-text text-muted">{{ app.scheduled_time|date:"m/d" }} {{ app.scheduled_time|time:"H:iA" }}</p>
                        
                    </div>
                </div>

                <div class="col-md-4 mt-3 text-center">
                    {% if not app.status == "" and not app.status == None %}
                    <p class='status'>{{ app.status }}</p>
                    {% else %}
                    <p>--</p>
                    {% endif %}

                    {% if app.wait_time %}
                    <p id="{{ app.id }}-wait-time" class="wait-time">Wait Time: {{ app.wait_time }} min</p>
                    {% else %}
                    <p>--</p>
                    {% endif %}

                </div>
            </div>
        </div>
        </a>
    {% endfor %}
</div>

{% endblock appointments %}
