{% extends "../base.html" %}
{% block title %}Welcome to drchrono{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg p-2">
        <div class="container-fluid">
            <h1 class="text-light">Welcome Dr. {{ doctor.last_name }}</h1>
        </div>
        <div class='w-25'>
            <p>Average Wait Time: {{ avg_wait_time }} min</p>
        </div>
    </nav>

    <div class="col-md-8 float-right p-4">
        {% if appointment %}
        <div class="card ml-0 text-left">
            <div class="row no-gutters m-0">
                <div class="col-md-2 ml-0">
                    {% if appointment.patient.gender == "Male" %}
                    <img src="../../static/images/patient_m.png" class="card-img rounded-circle bg-light m-2"
                        style="max-width: 100px;">
                    {% else %}
                    <img src="../../static/images/patient_f.png" class="card-img rounded-circle bg-light m-2"
                        style="max-width: 100px;">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="card-body text-left">
                        <h5 class="card-title patient_name mb-0">{{ appointment.patient.last_name }}, {{appointment.patient.first_name }}</h5>
                        <p class="card-text">{{ appointment.scheduled_time|time:"H:iA" }}</p>

                    </div>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    {% if not appointment.status == "" and not appointment.status == None %}
                    <p>{{ appointment.status }}</p>
                    {% else %}
                    <p>--</p>
                    {% endif %}
                    {% if appointment.wait_time %}
                    <p>Wait Time: {{ appointment.wait_time }} min</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row card mb-3 mt-3 no-gutters ">
            <div class="card-body">
                <h4>Patient Data</h4>
                <ul>
                    <li>DOB: {{ appointment.patient.date_of_birth }}</li>
                    <li>Gender: {{ appointment.patient.gender }}</li>
                    <li>Email: {{ appointment.patient.email }}</li>
                    <li>Phone: {{ appointment.patient.home_phone }}</li>
                    <li>SSN: {{ appointment.patient.social_security_number }}</li>

                </ul>
            </div>
        </div>
        <div class="row card mb-3 mt-3 no-gutters ">
            <div class="card-body">
                <h4>Appointment Data</h4>
                <ul>
                    <li>Reason for Visit: {{ appointment.reason }}</li>
                    <li>Check In Time: {{ appointment.check_in_time }}</li>
                    <li>Exam Room: {{ appointment.exam_room }}</li>
                    <li>Gender: {{ appointment.patient.gender }}</li>
                </ul>
            </div>
        </div>
        <ul class="list-group list-group-horizontal border-0">
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info " name='status' value='Checked In'> Check In
                    </button>
                </form>
            </li>
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name='status' value='In Session'> Start Visit
                    </button>
                </form>
            </li>
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name='status' value='Complete'> Complete Visit
                    </button>
                </form>
            </li>
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name='status' value='Cancelled'> Cancel Visit
                    </button>
                </form>
            </li>

        </ul>
        {% endif %}
    </div>

{% block appointments %} {% include './appointments.html' %} {% endblock appointments %}

{% endblock %}