{% extends "../base.html" %}
{% block title %}Welcome to drchrono{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg p-2">
        <div class="container-fluid">
            <h1 class="text-light">Welcome Dr. {{ doctor.last_name }}</h1>
        </div>
        <div>
            <p>Average Wait Time: {{ avg_wait_time }}</p>
        </div>
    </nav>

    <div class="col-md-8 float-right p-4">
        <div class="row card mb-3 mt-3">
            <div class="card-body">
                <h1>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h1>
                <p class="card-text">{{ appointment.scheduled_time}}</p>
            </div>
        </div>
        <div class="row card mb-3 mt-3">
            <div class="card-body">
                <p>Other Appointment Data goes here.</p>
            </div>
        </div>
        <div class="row card mb-3 mt-3">
            <div class="card-body">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info" name='status' value='Checked In'> Check In
                            </button>
                        </form>
                    </li>
                    <li class="list-group-item">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" name='status' value='In Session'> Start Visit
                            </button>
                        </form>
                    </li>
                    <li class="list-group-item">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success" name='status' value='Complete'> Complete Visit
                            </button>
                        </form>
                    </li>
                    <li class="list-group-item">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name='status' value='Cancelled'> Cancel Visit
                            </button>
                        </form>
                    </li>

                </ul>

                




<!-- 
                <button type="button" class="btn btn-primary">Start Visit</button>
                <button type="button" class="btn btn-success">Complete Visit</button>
                <button type="button" class="btn btn-danger">Cancel Appointment</button> -->

            </div>
        </div>
    </div>

{% block appointments %} {% include './appointments.html' %} {% endblock appointments %}

{% endblock %}