{% extends "../base.html" %}
{% block title %}Today's Appointments{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark text-light navbar-expand-lg p-4">
        <div class="container-fluid">
            <h2>Dr. {{ doctor.last_name }}'s Appointments</h2>
        </div>
        <div class='w-25'>
            <p>Average Wait Time: {{ avg_wait_time }} min</p>
        </div>
    </nav>

    <div class="col-md-8 float-right appointment-detail p-2">
        {% if appointment %}
        <div class="card ml-0 text-left">
            <div class="row no-gutters m-0">
                <div class="col-md-2 ml-0">
                    {% if appointment.patient.gender == "Male" %}
                    <img src="../../static/images/patient_m.png" class="card-img m-2"
                        style="max-width: 150px;">
                    {% else %}
                    <img src="../../static/images/patient_f.png" class="card-img m-2"
                        style="max-width: 150px;">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="card-body text-left">
                        <h3 class="card-title patient_name mb-0">{{ appointment.patient.last_name }}, {{appointment.patient.first_name }}</h3>
                        <p class="card-text">{{ appointment.scheduled_time|time:"H:iA" }}</p>

                    </div>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    {% if not appointment.status == "" and not appointment.status == None %}
                    <p>{{ appointment.status }}</p>
                    {% else %}
                    <p>--</p>
                    {% endif %}
                    {% if appointment.wait_time %}
                    <p>Wait Time: {{ appointment.wait_time }} min</p>
                    {% endif %}
                </div>
            </div>
        </div>


    <div class="row card mb-3 mt-3 no-gutters text-left">
        <div class="card-body">
            <h5 class="card-title">Patient Data</h5>
            <dl class="row">
                <dt class="col-sm-3">Date of Birth:</dt>
                <dd class="col-sm-9">{{ appointment.patient.date_of_birth }}</dd>
            
                <dt class="col-sm-3">Gender:</dt>
                <dd class="col-sm-9"> {{ appointment.patient.gender }}</dd>
            
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">{{ appointment.patient.email }}</dd>
            
                <dt class="col-sm-3">Home Phone:</dt>
                <dd class="col-sm-9">{{ appointment.patient.home_phone }}</dd>

                <dt class="col-sm-3">SSN:</dt>
                <dd class="col-sm-9">{{ appointment.patient.social_security_number }}</dd>
            </dl>
        </div>
    </div>

    <div class="row card mb-3 mt-3 no-gutters text-left ">
        <div class="card-body">
            <h5 class="card-title">Appointment Data</h5>
            <dl class="row">
                <dt class="col-sm-3">Reason for Visit:</dt>
                <dd class="col-sm-9">{{ appointment.reason }}</dd>
    
                <dt class="col-sm-3">Check In Time:</dt>
                <dd class="col-sm-9"> {{ appointment.check_in_time }}</dd>
    
                <dt class="col-sm-3">Exam Room:</dt>
                <dd class="col-sm-9">{{ appointment.exam_room }}</dd>
    
                <dt class="col-sm-3">Home Phone:</dt>
                <dd class="col-sm-9">{{ appointment.patient.home_phone }}</dd>
    
            </dl>
        </div>
    </div>

        <ul class="list-group list-group-horizontal text-left border-0">
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info " name='status' value='Checked In'> Check In
                    </button>
                </form>
            </li>
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name='status' value='In Session'> Start Visit
                    </button>
                </form>
            </li>
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name='status' value='Complete'> Complete Visit
                    </button>
                </form>
            </li>
            <li class="list-group-item border-0">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name='status' value='Cancelled'> Cancel Visit
                    </button>
                </form>
            </li>

        </ul>
        {% else %}
        <img src="../../static/images/drchronologo.png" class="logo-img mt-5">
        {% endif %}
    </div>

{% block appointments %} {% include './appointments.html' %} {% endblock appointments %}

{% endblock %}