{% extends "./base.html" %}
{% block title %}Welcome to drchrono{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg p-2">
        <div class="container-fluid">
            <h1 class="text-light">Welcome Dr. {{ doctor.last_name }}</h1>
        </div>
    </nav>

    <div class="content w-100 bg-dark text-light m-0 p-5 text-center">
        <a class="btn btn-primary mr-2" href="{% url 'appointments' %}" role="button">Daily Appointments</a>
        <a class="btn btn-primary ml-2" href="{% url 'check_in' %}" role="button">Check In Kiosk</a>

    </div>

{% endblock %}