{% extends "base.html" %}

{% block title %}Update Demographics{% endblock %}

{% block body %}

    <div class="row w-50 bg-dark text-light p-5 text-center m-auto">
        <div class="col float-center">
            <h2>You're Checked In!</h2>
            <h5>Update your info if needed</h5>
            <form action="" method="post" class="demographics">
                {% csrf_token %}
                <table>
                    {{ form }}
                    <tr>
                        <td></td>
                        <td><input type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>



{% endblock %}